<h4 class="text-center">Registre-se e mostre seu pet ao mundo</h4>
<form class="form mt-4"  (ngSubmit)="create()" #createForm = "ngForm">
  <div class="mb-3">
    <input type="email" name="email" class="form-control" placeholder="Email"
    [(ngModel)]="user.email"
    #campoEmail = "ngModel"
    required
    />
    <app-messagem
      *ngIf="campoEmail.invalid  && campoSenha.touched"
      mensagem ="Email Obrigatório"></app-messagem>
  </div>
  <div class="mb-3">
    <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha"
    [(ngModel)]="user.password"
    #campoSenha = "ngModel"
    required
    />
    <app-messagem
    *ngIf="campoSenha.invalid && campoSenha.touched"
     mensagem ="Senha Obrigatório"></app-messagem>
  </div>
  <div class="d-grid d-grid gap-3">
    <button type="submit" [disabled]="createForm.invalid" class="btn btn-primary">Criar</button>
    <button [routerLink]="['']" class="btn btn-primary">Voltar</button>
  </div>
</form>

